<section class="container-fluid profile">

		<div class="col-md-2"></div>
		<div class="col-md-4"><img src=<%= @user.photo %> class="profile-photo img-circle"> </div>
		<div class="col-md-4 profile-info">
			<center><h3><%= @user.name %></h3></center>
			<p>Age: <%= @user.age %></p>
			<p>Favouirte food: <%= @user.food %></p>
			<p>Lenguages: <%= @user.lenguage %></p>
			<p><center><a href= <%= users_path %>><button type="button" class="btn btn-primary">Back to Home</button></a></center></p>
		</div>
		<div class="col-md-2"></div>

</section>

<section class="container-fluid matches">

	<% @users.each do |users| %>
		<% if(@user.id != users.id && (@user.food == users.food || @user.lenguage == users.lenguage )) %>
		<div class="col-md-3 center-textimg">
			<div>
				<img src=<%= users.photo %> class="img-size img-circle"> 
			</div>

			<div>
				<h3><%= users.name %></h3>
				<p>Age <%= users.age %></p>
				<a href= <%= user_path(users) %>><button type="button" class="btn btn-primary">View Profile</button></a>
				<hr>
			</div>
		</div>
		<% end %>
	<% end %>

</section>
